

.base-background {
    background-color: rgb(205, 248, 188);
}

.main-card {
    margin-top: 15vh;
    margin-bottom: 15vh;
    padding: 2rem;
    border-radius: 3rem;
    border: 0.0rem solid rgb(235, 236, 233);
    box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
    background-color: rgb(251, 252, 250);
}

.logo-image {
    width: 30vw;
    height: 30vh;
}