<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>SUP</title>
        <!-- add recording module -->
        <script src="https://xiangyuecn.github.io/Recorder/recorder.mp3.min.js"></script>
        <!-- add extension library waveview.js -->
        <script src="https://xiangyuecn.github.io/Recorder/src/extensions/waveview.js"></script> 
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <!-- our css stylesheet -->
        <link rel="stylesheet" href="../static/css/stylesheet.css" type="text/css">
        <!-- favicon icon -->
        <link rel='shortcut icon' type='image/x-icon' href='../static/image/favicon.ico'>
    </head>

    <body class="base-background">
        <!-- FLASH MESSAGES modal -->
        <!-- open modal if flash messages are present -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    $(document).ready(function(){
                        $("#modal-flash-messages").modal("show");
                    });
                </script>
                <!-- code for modal window -->
                <div class="modal fade" id="modal-flash-messages">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- modal body -->
                            <div class="modal-body show">
                                {% for message in messages %}
                                    <div class="alert alert-info" role="alert">{{ message }}</div>
                                {% endfor %}
                            </div>
                            <!-- modal footer -->
                            <div class="modal-footer">
                                <button id="btn-btm-close-flash-messages-modal" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endwith %}
        <!-- end FLASH MESSAGES modal -->

        <!-- logo -->
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6 mx-auto logo-card">
                    <div class="card-deck">
                        <div class="card-body">
                            <img src="../static/image/logo.JPG" alt="SUP logo" class="logo-image">
                        </div>
                    </div>
                </div>
            </div>
        <!-- end logo -->

        <!-- main card for all pages -->
        <div class="row">
            {% block content %}{% endblock %}
        </div>
        <!-- end main card for all pages -->

        <!-- footer-->
        <div class="footer">
            <p class="footer-item">UWA CITS5206 Project - Master's Team 3</p>
            <p class="footer-item">Created October 2019</p>
            <p class="footer-item">Authors: Alex McAllister, Amanpreet Kaur, Dana Ahmadibroujeni, Yi Zhou, Yuran Li and Zhaoyu Shang</p>
            <p class="footer-item">Creative Commons Licence</p>
        </div>
        <!-- end footer -->
        <!-- font style -->

        <style>
            .fontstyle {
              font-family: "Comic Sans MS", cursive, sans-serif
            }
        </style>

        <!-- font style -->
    </body>

</html>