<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CITS5206 Recording test demo</title>
</head>
<body>
<script src="https://xiangyuecn.github.io/Recorder/recorder.mp3.min.js"></script>
<input type="button" onclick="startRec();resetTime();startTime()" value="Start recording">
<input type="button" onclick="stopRec();stopTime()" value="Finish recording">
<input type="button" onclick="pauseRec();;resetTime();stopTime()" value="pause recording">
<input type="button" onclick="resumeRec();startTime()" value="resume recording">
<hr>
<input type="button" onclick="playRec();stopTime()" value="play the record">
<input type="button" onclick="uploadRec();stopTime()" value="upload the record">
<!-- Add Timer -->
<p id="showTime">00 : 00</p>


<script>
    let rec;
    let recFile;

    function startRec() {
        rec = Recorder();//Use the default configuration, mp3 format

        //Turn on the microphone and authorize resources
        rec.open(function () {
            //start recording
            rec.start();
        }, function (msg, isUserNotAllow) {
            //The user has refused permission or the browser does not support it
            alert((isUserNotAllow ? "User denied permission，" : "") + "not able to record:" + msg);
        });
    };


    function pauseRec() {
        rec.pause();
    }

    function resumeRec() {
        rec.resume();
    }

    function stopRec() {
        rec.stop(function (blob, duration) {
            recFile = blob;
        })
    }

    function playRec() {
        //Stop recording and get the blob binary object of the recording file
            var audio = document.createElement("audio");
            audio.controls = true;
            document.body.appendChild(audio);
            //get the blob audio url
            if(audio.src==false){
            audio.src = URL.createObjectURL(recFile);
            audio.play();
            }else{
                audio.play();
            }
        };

    function uploadRec() {
        //Stop recording and get the blob binary object of the recording file

            /*
            Blob file object, which can be read and fetched with FileReader
            ，Or use FormData upload, which in this case uploads the binary directly
            ，from normal application/x-www-form-urlencoded form upload
            */
            var form = new FormData();
            form.append("upfile", recFile, "recorder.mp3"); //Similar to ordinary form forms, files with upfile parameters, named recorder. Mp3, are received by the back-end

            //Upload directly with ajax
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/recorder");//This fake address can see the request data and format in the console network, and the result of the request is irrelevant
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    alert(xhr.status == 200 ? "upload successful" : "Test by opening the browser console, and then re-recording, you can see the upload request data and format in the network option card");
                }
            }
            xhr.send(form);
        }
    </script>


<script>
    var ms = 0;
    var secs = 0;
    var mins = 0;
    var hours = 0;
    var timeoutId;

    var isCounting = false;

    function startTime() {
        if (!isCounting) {
            isCounting = true;
            timeoutId = setInterval(countTime, 1);        //指定时间执行任务
        }

        document.getElementById("start").value = "计时中";
    }

    function stopTime() {
        if (isCounting) {
            isCounting = false;
            clearTimeout(timeoutId); //清除指定id计时器
            document.getElementById("start").value = "继续";
        }
    }

    function countTime() {

        ms += 4;
        if (ms >= 1000) {
            secs += 1;
            ms = 0;
        }
        if (secs >= 60) {
            mins += 1;
            secs = 0;
        }
        if (mins >= 60) {
            hours += 1;
            mins = 0;

        }
        document.getElementById("showTime").innerHTML = checkTime(mins) + " : " + checkTime(secs);
    }

    function checkTime(time) {
        if (time < 10)
            time = "0" + time;

        return time;
    }

    function resetTime() {
        ms = 0;
        secs = 0;
        mins = 0;
        hours = 0;
    }

    function clearTime() {
        resetTime();
        document.getElementById("showTime").innerHTML = checkTime(mins) + " : " + checkTime(secs);
        if (!isCounting)
            document.getElementById("start").value = "Start timing";
    }
</script>

</body>
</html>
