{% extends "base.html" %}

{% block content %}

    <!-- start of card -->
    <div class="col-xl-7 col-lg-10 col-md-10 col-sm-12 col-12 mx-auto main-card">
        <div class="card-deck">
            <div class="card-body text-center">
                <!-- student details and actions -->
                <div>
                    <h3 class="greeting">Hello, {{ student.first_name }}!</h3>
                </div>
                <div class="user-action-buttons">
                    <button class="btn btn-primary btn-form-submit">
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </button>

                    <!-- subscribe to unit modal -->
                    <!-- button to open the modal -->
                    <button id="btn-subscribe-to-unit" type="button" class="btn btn-primary btn-form-submit second-user-button" data-toggle="modal" data-target="#modal-subscribe-to-unit">
                        Subscribe to a Unit
                    </button>
                    <!-- keeps modal open if validation fails so user can see errors -->
                    {% if form_subscribe_unit.subscribe_units.errors|length != 0 %}
                        <script>
                            $(document).ready(function(){
                                $("#modal-subscribe-to-unit").modal("show");
                            });
                        </script>
                    {% endif %}
                    <!-- code for modal window -->
                    <div class="modal" id="modal-subscribe-to-unit">
                        <div class="modal-dialog sup-modal-dialog sup-modal-dialog-large">
                            <div class="modal-content sup-modal">
                                <!-- modal header -->
                                <div class="modal-header">
                                <h4 class="modal-title">Subscribe to a Unit</h4>
                                <button  id="btn-top-close-subscribe-to-unit-modal" type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <!-- modal body -->
                                <div class="modal-body">
                                    <form class="form" action="" method="post" novalidate>
                                        {{ form_subscribe_unit.hidden_tag() }}
                                        <p>
                                            {{ form_subscribe_unit.subscribe_units }}<br>
                                            {{ form_subscribe_unit.studentID(value=student.id, style="display: none;") }}<br>
                                            {% for error in form_subscribe_unit.subscribe_units.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                            {% endfor %}
                                        </p>
                                        <a>{{ form_subscribe_unit.subscribe_unit_submit(class="btn btn-primary btn-form-submit") }}</a>
                                    </form>
                                </div>
                                <!-- modal footer -->
                                <div class="modal-footer">
                                <button id="btn-btm-close-subscribe-to-unit-modal" type="button" class="btn btn-form-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end subscribe to unit modal -->
                </div>
                <hr>
                <!-- end student details and actions -->

                <!-- list of units, tasks and questions as a Bootstrap4 accordion -->
                <div id="accordion_units">
                    <!-- list of units -->
                    {% for sUnit in student_units %}
                        <div class="card">
                            <div class="card-header" id="heading_unit_{{ sUnit.id }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_unit_{{ sUnit.id }}" aria-expanded="true" aria-controls="collapse_unit_{{ sUnit.id }}">
                                        Unit: {{ sUnit.unit_name }}
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_unit_{{ sUnit.id }}" class="collapse" aria-labelledby="heading_unit_{{ sUnit.id }}" data-parent="#accordion_units">
                                <div class="card-body sup-accordian-first-level">

                                    <!-- UNSUBSCRIBE UNIT modal -->
                                    <!-- button to open the modal -->
                                    <button id="btn-unsubscribe-unit-{{ sUnit.id }}" type="button" class="btn btn-primary inner-accordian-button" data-toggle="modal" data-target="#modal-unsubscribe-unit-{{ sUnit.id }}">
                                        Unsubscribe from Unit
                                    </button>
                                    <!-- code for modal window -->
                                    <div class="modal" id="modal-unsubscribe-unit-{{ sUnit.id }}">
                                        <div class="modal-dialog sup-modal-dialog">
                                            <div class="modal-content sup-modal">
                                                <!-- modal header -->
                                                <div class="modal-header">
                                                    <button  id="btn-top-close-unsubscribe-unit-{{ sUnit.id }}" type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <!-- modal body -->
                                                <div class="modal-body">
                                                    <h5>Are you sure?</h5>
                                                    <p>Unsubscribing from a unit will permanently delete all your submissions associated with this unit.</p>
                                                    <p>This action cannot be reversed.</p>
                                                    <form class="form" action="" method="post" novalidate>
                                                        {{ form_unsubscribe_unit.hidden_tag() }}
                                                        {{ form_unsubscribe_unit.unsub_studentID(value=student.id, style="display: none;") }}
                                                        {{ form_unsubscribe_unit.unsub_unitID(value=sUnit.id, style="display: none;") }}
                                                        <a>{{ form_unsubscribe_unit.unsubscribe_unit_submit(class="btn btn-primary btn-form-submit") }}</a>
                                                    </form>
                                                </div>
                                                <!-- modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-form-secondary" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end UNSUBSCRIBE UNIT modal -->

                                    <div id="accordion_tasks">
                                        <!-- list of tasks for each unit -->
                                        {% for task in sUnit.tasks %}
                                            <div class="card">
                                                <div class="card-header" id="heading_task_{{ task.id }}">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_task_{{ task.id }}" aria-expanded="true" aria-controls="collapse_task_{{ task.id }}">
                                                            Task: {{ task.task_name }}
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse_task_{{ task.id }}" class="collapse" aria-labelledby="heading_task_{{ task.id }}" data-parent="#accordion_tasks">
                                                    <div class="card-body sup-accordian-second-level">
                                                        
                                                        <!-- DOWNLOAD PDF button -->
                                                        {% if task.pdf_url is not none %}  
                                                        <div>
                                                            <button id="btn-download-pdf-{{ task.id }}-submit" onclick="downloadPDF('{{ task.pdf_url }}')" class="btn btn-primary inner-accordian-button">
                                                                Download PDF
                                                            </button>
                                                        </div>
                                                        {% endif %}
                                                        <!-- end DOWNLOAD PDF button -->

                                                        <!-- section for feedback from teacher -->
                                                        {% if student.get_task_mark(task.id) is none %}
                                                            <p class="details">Task: unmarked</p>
                                                        {% else %}
                                                            <p class="details">Task Mark: {{ student.get_task_mark(task.id) }}/100</p>
                                                        {% endif %}
                                                        {% if student.get_task_comment(task.id) is none %}
                                                            <p class="details">Comments: no comments</p>
                                                        {% else %}
                                                            <p class="details">Comments: </p>
                                                            <p class="details last-detail">{{ student.get_task_comment(task.id) }}</p>
                                                        {% endif %}
                                                        <!-- feedback recording module -->

                                                        <!-- DOWNLOAD PDF button -->
                                                        {% if task.pdf_url is not none %}  
                                                        <div>
                                                            <button id="btn-download-pdf-{{ task.id }}-submit" onclick="downloadPDF('{{ task.pdf_url }}')" class="btn btn-primary inner-accordian-button">
                                                                Download PDF
                                                            </button>
                                                        </div>
                                                        {% endif %}
                                                        <!-- end DOWNLOAD PDF button -->

                                                        <!-- feedback recording module -->
                                                        {% include "student_listen_teacher.html" %}
                                                        <!-- end section for feedback from teacher -->

                                                        <div id="accordion_questions">
                                                            <!-- list of questions for each task -->
                                                            {% for question in task.questions %}
                                                                <div class="card">
                                                                    <div class="card-header" id="heading_question_{{ question.id }}">
                                                                        <h5 class="mb-0">
                                                                            {% if question.id not in answered_questions_IDs %}
                                                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_question_{{ question.id }}" aria-expanded="true" aria-controls="collapse_question_{{ question.id }}">
                                                                                    {{ question.question_name }}
                                                                                </button>
                                                                            {% else %}
                                                                                <button class="btn answered-question" data-toggle="collapse" data-target="#collapse_question_{{ question.id }}" aria-expanded="true" aria-controls="collapse_question_{{ question.id }}">
                                                                                    {{ question.question_name }}
                                                                                </button>
                                                                            {% endif %}
                                                                        </h5>
                                                                    </div>
                                                                    <div id="collapse_question_{{ question.id }}" class="collapse" aria-labelledby="heading_question_{{ question.id }}" data-parent="#accordion_questions">
                                                                        <div class="card-body sup-accordian-third-level">
                                                                            <p class="details last-detail">Question description: {{ question.description }}</p>
                                                                            <!-- recording module -->
                                                                            {% include '_recorder.html' %}
                                                                            <!-- end recording module -->
                                                                            <hr>
                                                                            <div id="playback-{{ question.id }}"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <hr>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- end list of units, tasks and questions -->
            </div>
        </div>
    </div>
    <!-- end card -->


    <script>
    
        var audio;
    
        // download pdf function
        function downloadPDF(pdfURL){
            document.location.href = pdfURL;
        }
    
    </script>


{% endblock %}