<form id="teacher_comment" action="#" method="post">
    <!-- <input type="hidden" name="task_id" value="{{ task.id }}">
    <input type="hidden" name="student_id" value="{{ student.id }}"> -->
    <!-- {{student.id}}
    {{task_id}} -->
    <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" id="Record_{{unit.id}}_{{task.id}}_{{student.id}}" value="Start" >
    <!-- <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" id="record_start" value="Start" > -->
    <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" onclick="playRec('#playback-{{task.id}}_{{student.id}}')" value="Play">
    <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" onclick="uploadRec({{task.id}}, {{student.id}})" value="Upload Feedback">
</form>

<p class="details">Previous comment:</p >
    <audio src="{{student.get_task_feedbackURL(task.id)}}" controls></audio>

<script type="text/javascript">
    $(document).ready(function doOnClick(){
        $("#Record_{{unit.id}}_{{task.id}}_{{student.id}}").click(function(){
            if(document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value=="Finish"){
                document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value="Start";
                document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").style.color='white';
                stopRec();
            }
            else if (document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value=="Start"){
                document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value="Finish";
                document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").style.color='red';
                startRec();
                console.log("{{unit.id}}_{{task.id}}_{{student.id}}")
            }
        })
    })
    function startRec() {
        rec = Recorder();//Use the default configuration, mp3 format
        //Turn on the microphone and authorize resources
        rec.open(function () {
            //start recording
            rec.start();
        }, function (msg, isUserNotAllow) {
            //The user has refused permission or the browser does not support it
            alert((isUserNotAllow ? "User denied permission，" : "") + "not able to record:" + msg);
        });
    };

    function stopRec() {
        rec.stop(function (blob, duration) {
            recFile = blob;
        })
    };

    function playRec(divID) {
        //Stop recording and get the blob binary object of the recording file
        if(audio==null){
            audio = document.createElement("audio");
            audio.controls = true;
            console.log("divID = " + divID);
            //document.body.appendChild(audio)
            $(divID).append(audio);
            audio.src = URL.createObjectURL(recFile);
            audio.play();
        }
        else{
            $(divID).append(audio);
            audio.src = URL.createObjectURL(recFile);
            audio.play();
        }
    };

    function uploadRec(task_id, student_id) {
        //Stop recording and get the blob binary object of the recording file

        /*
        Blob file object, which can be read and fetched with FileReader
        ，Or use FormData upload, which in this case uploads the binary directly
        ，from normal application/x-www-form-urlencoded form upload
        */
        var form = document.getElementById("teacher_comment");
        var formData = new FormData(form);
        formData.append("upfile", recFile, "record.mp3"); //Similar to ordinary form forms, files with upfile parameters, named recorder. Mp3, are received by the back-end
        formData.append("task_id", task_id)   // change the question_id here
        formData.append("student_id", student_id)   // change the question_id here
        //Upload directly with ajax
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/teacher_recorder");//This fake address can see the request data and format in the console network, and the result of the request is irrelevant
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                alert(xhr.status == 200 ? "upload successful" : "upload successful");
            }
        }

        xhr.send(formData);
    }
    </script>