        <form id="teacher_comment" action="#" method="post">
            <input type="hidden" id="{{ task.id }}" name="task_id" value="{{ task.id }}">
            <input type="hidden" id="{{ student.id }}" name="student_id" value="{{ student.id }}">
            <br>
            <p>
                <p class="details">Mark (must be in format 00.0):</p>
                <input pattern="^\d{2}/.\d{1}$" type="text" id="mark" name="mark">
            </p>
            <p class="details">Comments:</p>
            <textarea class="bottom-margin" name="comment" form="teacher_comment" rows="5" cols="50"></textarea><br>
            <input class="btn btn-primary" type="button" id="Record_{{unit.id}}_{{task.id}}_{{student.id}}" value="Start" >
            <!-- <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" id="record_start" value="Start" > -->
            <input class="btn btn-primary" type="button" onclick="playRec('#playback-{{task.id}}_{{student.id}}')" value="Play">
            <input class="btn btn-primary btn-form-submit second-user-button recorder-buttons" type="button" onclick="uploadRec()" value="Upload Feedback">
            <p class="details last-detail">Note: Uploading feedback overwrites comments and mark fields. Copy these from above if no changes are required.</p>
        </form>


        <script type="text/javascript">
            $(document).ready(function doOnClick(){
                $("#Record_{{unit.id}}_{{task.id}}_{{student.id}}").click(function(){
                    if(document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value=="Finish"){
                        document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value="Start";
                        document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").style.color='white';
                        stopRec();
                    }
                    else if (document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value=="Start"){
                        document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").value="Finish";
                        document.getElementById("Record_{{unit.id}}_{{task.id}}_{{student.id}}").style.color='red';
                        startRec();
                        console.log("{{unit.id}}_{{task.id}}_{{student.id}}")
                    }
                })
            })
                function startRec() {
                rec = Recorder();//Use the default configuration, mp3 format
                //Turn on the microphone and authorize resources
                rec.open(function () {
                    //start recording
                    rec.start();
                }, function (msg, isUserNotAllow) {
                    //The user has refused permission or the browser does not support it
                    alert((isUserNotAllow ? "User denied permission，" : "") + "not able to record:" + msg);
                });
            };

    function stopRec() {
        rec.stop(function (blob, duration) {
            recFile = blob;
        })
    };


    function uploadRec() {
        //Stop recording and get the blob binary object of the recording file

        /*
        Blob file object, which can be read and fetched with FileReader
        ，Or use FormData upload, which in this case uploads the binary directly
        ，from normal application/x-www-form-urlencoded form upload
        */
        var form = document.getElementById("teacher_comment");
        var formData = new FormData(form);
        formData.append("upfile", recFile, "record.mp3"); //Similar to ordinary form forms, files with upfile parameters, named recorder. Mp3, are received by the back-end

        //Upload directly with ajax
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/teacher_recorder");//This fake address can see the request data and format in the console network, and the result of the request is irrelevant
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                alert(xhr.status == 200 ? "upload successful" : "upload successful");
            }
        }
        xhr.send(formData);
    }
    
    function playRec(divID) {
        //Stop recording and get the blob binary object of the recording file
        if(audio==null){
            audio = document.createElement("audio");
            audio.controls = true;
            console.log("divID = " + divID);
            //document.body.appendChild(audio)
            $(divID).append(audio);
            audio.src = URL.createObjectURL(recFile);
            audio.play();
        }
        else{
            $(divID).append(audio);
            audio.src = URL.createObjectURL(recFile);
            audio.play();
        }
    };


    
</script>